<header class="flex justify-start gap-5 items-center p-4 bg-red-500 text-white">
  <a class="<%= currentPage === 'Home' ? 'underline' : 'hover:underline' %> py-2 px-4 rounded transition duration-300"
    href="/">Go to Home</a>
  <a class="<%= currentPage === 'Add Home' ? 'underline' : 'hover:underline' %> py-2 px-4 rounded transition duration-300"
    href="/host/add-home">Add Home</a>
</header>