<header class="flex justify-between items-center p-4 bg-red-500 text-white">
  <a class="text-white hover:underline" href="/host/add-home">Add Home</a>
  <a class="text-white hover:underline" href="/">Go to Home</a>
</header>